body {
  justify-content: center;
  background-color: rgb(246, 246, 246);
}

.dflex {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.spacebetween {
  justify-content: space-between;
}

.listcontainer {
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.icon {
  object-fit: contain;
  width: 16px;
}

.listcontainer div {
  padding: 4px;
}

input[type="text" i] {
  padding: 0 4px;
}

.textinput {
  width: 80%;
}
